/* =============================== 
 GENERAL
=============================== */
* {
    box-sizing: border-box;
}
body {
    background-color: #eee;
    position: relative;
}
img {
    height: auto;
    max-width: 100%;
}
section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* =============================== 
 COMPONENTS
=============================== */

/*Button*/
.btn.btn-default {
    background-color: #fbc02d;
}

/*Message dialog*/
.message {
    background-color: #323232;
    color: #fff;
    font-size: .88rem;
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 5rem;
/*     bottom: .5rem; */
    right: .5rem;
    z-index: 999;
    border-radius: .2rem;
    animation: sumir 1s 5s ease-in-out forwards;
}
@keyframes sumir {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 2rem;
    }
}
@-webkit-keyframes sumir {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* =============================== 
 FORM DEFAULT
=============================== */
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, .8);
}
.form-default input:not([type]), .form-default input[type=text], .form-default input[type=password], .form-default input[type=email], .form-default input[type=url], .form-default input[type=time], .form-default input[type=date], .form-default input[type=datetime], .form-default input[type=datetime-local], .form-default input[type=tel], .form-default input[type=number], .form-default input[type=search], .form-default textarea.materialize-textarea {
    /*background-color: #eee;*/
    border: 1px solid #c4c4c4;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);*/
    border-radius: 1px;
    color: #555;
}
.form-default input:not([type]):focus:not([readonly]), .form-default input[type=text]:focus:not([readonly]), .form-default input[type=password]:focus:not([readonly]), .form-default input[type=email]:focus:not([readonly]), .form-default input[type=url]:focus:not([readonly]), .form-default input[type=time]:focus:not([readonly]), .form-default input[type=date]:focus:not([readonly]), .form-default input[type=datetime]:focus:not([readonly]), .form-default input[type=datetime-local]:focus:not([readonly]), .form-default input[type=tel]:focus:not([readonly]), .form-default input[type=number]:focus:not([readonly]), .form-default input[type=search]:focus:not([readonly]), .form-default textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .4);
    /*background-color: #e1e1e1;*/
    /*border: none;*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);*/
    
}
.form-default textarea.materialize-textarea {
    padding: 6px 15px;
    margin-bottom: 0;
}
.form-default .input-field label {
    padding-left: 15px;
    left: 0;
}
.form-default .input-field label.active {
    padding-left: 0;
    transform: translateY(-165%);
}
.form-default input[type=radio] + label, .form-default [type=checkbox] + label {
    padding-left: 30px;
    top: 0;
}

/* =============================== 
 NAVBAR
=============================== */
#dropdown-categorias {
    margin-top: 56px;
    width: inherit !important;
}
#dropdown-categorias li a {
    color: #333;
}
.navbar-fixed {
    z-index: 999;
}
.navbar-fixed nav {
    padding: 0 15px;
}
.navbar-fixed .row, .navbar-fixed .col {
    padding: 0 !important;
}
.navbar-fixed nav .brand-logo {
    height: 100%;
}
.navbar-fixed nav .brand-logo img {
    height: inherit;
    padding: 6px 0;
}
.navbar-fixed .button-collapse .material-icons {
    font-size: 26px;
    width: 40px;
    text-align: center;
}
.navbar-fixed .dropdown-button .material-icons {
    margin: 0 -8px 0 0;
}
.btn.conheca-romefeller {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff !important;
    text-transform: none;
    padding: 0 20px;
}
.btn.conheca-romefeller:hover {
    background-color: #fff !important;
    color: #000 !important;
}

/* =============================== 
 SIDE NAV
=============================== */
.side-nav {
    background-color: #f5f5f5;
    margin-top: 56px;
    z-index: 998;
}
.side-nav li a i, #dropdown-categorias li a i {
    line-height: inherit;
    font-size: 1.4rem;
    color: #757575;
}
.side-nav h3 {
    color: #fbc02d;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 1.46rem 0 .2rem;
}

/* =============================== 
 FEATURED POSTS
=============================== */
#featured-posts {
    padding: 10px;
}
/* Enquadrar a imagem */
.featured-posts-grid {
    padding: 2px !important;
}
.featured-posts-grid article {
    position: relative;
    height: 200px;
    display: block;
    cursor: auto;
    overflow: hidden;
}
.featured-posts-grid img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    transition: transform 0.3s;
}
/* End Enquadrar a imagem */

.featured-posts-grid .featured-post-details {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 30px 20px;
    color: #fff;
    pointer-events: none;
}
.featured-posts-grid .featured-post-details h2 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 10px;
}
.featured-posts-grid .featured-post-details h2 a {
    color: #fff;
}
time.post-meta-date {
    color: rgba(255,255,255,0.5);
    font-size: 0.85rem;
    margin-right: 10px;
    pointer-events: auto;
}
time.post-meta-date .material-icons {
    font-size: .9rem;
    line-height: inherit;
    margin-right: 6px;
}
.category-tag {
    color: #fff;
    font-size: .85rem;
    background-color: rgba(0, 0, 0, .4);
    padding: 4px 9px;
    border-radius: 1px;
    transition: .3s;
    display: inherit;
    pointer-events: auto;
}
.category-tag:hover {
    background-color: rgba(251, 192, 45, .9);
}
.featured-posts-grid article .featured-post-preview:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
}

/* =============================== 
 CONTENT
=============================== */
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}
.popular-posts .card-image {
    min-height: 150px;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}
.popular-posts a.img-wrapper {
    background-color: #ccc;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.popular-posts .card .card-title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -ms-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.popular-posts .card-image .responsive-img.preview {
    position: absolute;
    max-height: 100%;
    top: 50%;
    margin: auto;
    right: inherit;
    left: 50%;
    bottom: inherit;
    width: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popular-posts .card-content .post-detail {
    color: #aeaeae;
    font-size: 0.9rem;
}
.popular-posts .card-action {
    padding: 0;
    border: none;
}
.popular-posts .card-action a {
    font-size: 0.9rem;
    margin: 0 !important;
}

/* =============================== 
 SIDEBAR
=============================== */
.sidebar .widgets {
    padding: 0 20px;
    margin: auto;
}
.sidebar h3 {
    color: #444;
    font-size: 20px;
    text-transform: uppercase;
    margin: 1.46rem 0 0;
}
.widget-search input#search {
    border-color: #ccc;
    margin-top: 20px;
    padding-right: 30px;
    box-sizing: border-box;
}
.widget-search .btn-search {
    position: relative;
    bottom: 48px;
    right: 0;
    border: none;
    background-color: transparent;
    color: #ffab40;
}
.widget-search .btn-search:hover {
    color: #ff8f00;
}
.sidebar ul li {
    padding: 8px 0;
}
.sidebar ul li i {
    color: #aaa;
    font-size: 20px;
    margin-right: 4px;
}
.sidebar a {
    color: #ffab40;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #ff8f00;
}

/* =============================== 
 POST PAGE
=============================== */
.post-page {
    padding-top: 40px;
}
.post-page {
    font-size: 1rem;
    color: #525252;
}
.single-post h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.single-post .post-meta .post-meta-date {
    color: rgba(255,255,255,0.5);
    font-size: 0.9rem;
    margin-right: 10px;
}
.single-post .post-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
}
.single-post .post-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    position: relative;
    margin-bottom: 40px;
}
.single-post .post-header .post-details {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 30px 20px;
    color: #fff;
}
.section-title {
    font-size: 2rem;
    font-weight: 300;
    color: #404040;
    margin-top: 0;
}
.block {
    margin-bottom: 2.5rem;
}
.block-white {
    background-color: #fff;
    padding: 0 1rem;
}

/*Comments*/
.comments.block-white {
    padding-top: 0;
    padding-bottom: 0;
}
.comments .comment {
    border-bottom: 1px solid #eee;
    padding: 1.5rem 0;
    /*color: #abbac0;*/
    color: #6a7073;
}
.comment-meta {
    margin-bottom: .4rem;
}
.comment-name {
    color: #80949c;
    font-weight: 600;
    padding-right: .6rem;
    margin-right: .3rem;
    /*border-right: 1px solid #ccc;*/
    position: relative;
}
.comment-name::after {
    content: "";
    background-color: rgba(0, 0, 0, .3);
    /* background-color: rgba(128, 148, 156, .5); */
    width: 1px;
    height: 10px;
    position: absolute;
    right: 0;
    top: .3rem;
    bottom: 0;
}
.comment-date {
    color: #abbac0;
    font-weight: 300;
    font-size: .8rem;
}

.att-comment-block {
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee;
}
.att-comment-block .input-field {
    margin-top: 0;
}
.comment-box-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #c4c4c4;
    border-top: 0;
    margin-top: -6px;
    background-color: #ddd;
    background-color: rgba(0, 0, 0, .08);
}
.comment-box-footer .btn.btn-default {
    background-color: #777;
    box-shadow: none !important;
}
.comment-box-footer .btn.btn-default:hover {
    background-color: #8c8c8c;
}
a.cancel-action {
    color: #5c5c5c;
    line-height: 1rem;
    margin-right: 1rem;
}
a.cancel-action:hover {
    color: #777;
}
.comment-action a {
    color: rgba(0, 0, 0, .4);
    font-size: .85rem;
    font-weight: 500;
    margin-right: 0.4rem;
    transition: .2s ease-in-out;
}
.comment-action a:hover {
    color: rgba(0, 0, 0, .6);
    /*color: #039be5;*/
}

/* =============================== 
 FOOTER
=============================== */
.page-footer.no-pad-top {
    padding-top: 0 !important;
}

/* =============================== 
 ADMIN PAGE
=============================== */
.admin-area .row.header{
    margin-bottom: 8px;
}
.admin-area .header h2 {
    font-size: 2rem;
    padding: 0 0.75rem;
}
.row.post-list-header {
    margin-bottom: 10px;
}
.search.row {
    margin-bottom: 0;
}
.search .input-field:nth-child(1) {
    padding-right: 0;
}
.search-wrapper.card {
    margin: 0;
}
.search .search-wrapper i {
    font-size: 18px;
    line-height: 30px;
    color: #ddd;
    position: absolute;
    left: 5px;
    text-align: center;
    width: 20px;
}
.search .search-wrapper input#search {
    background-color: #fff;
    margin: 0;
    border: 0;
    width: 100%;
    padding: 4px 10px 4px 28px;
    height: 30px;
    box-sizing: border-box;
}
.search .search-wrapper input#search:focus {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18);
}
.input-field input[type=submit].btn {
    font-size: .9rem;
    padding: 0px 1rem;
    text-transform: inherit;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.input-field input[type=submit].btn:hover {
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.18);
}

table.highlight>tbody>tr:hover {
    background-color: #e4e4e4;
}
table td:nth-child(1) a:hover {
    color: #29b6f6;
}
.delete {
    color: #c62828;
}

/* =============================== 
 NEW POST
=============================== */
/*.admin-area form .right-inputs {*/
/*    padding-left: 20px;*/
/*}*/
.admin-area section {
    padding: 0;
}
.input-title input[type="text"] {
    font-size: 1.4rem;
}
.btn-add-img {
    text-transform: none;
}
.row .col.submit-form {
    margin-top: 40px;
}


/* =============================== 
 MEDIA QUERIES
=============================== */
@media only screen and (min-width: 601px) {
    .container {
        width: 86%;
    }
    .navbar-fixed {
        height: 60px;
    }
    .side-nav {
        margin-top: 60px;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 60px;
        line-height: 60px;
    }
    #dropdown-categorias {
        margin-top: 60px;
    }
}
@media only screen and (min-width: 993px) {
    .navbar-fixed nav {
        padding: 0 30px;
    }
    .featured-posts-grid article:hover .featured-post-preview img{
        transform: scale(1.1);
    }
    .navbar-fixed .button-collapse .material-icons {
        font-size: 24px;
    }
    #wrapper {
        padding: 0 0 0 240px;
    }
    .admin-area form .right-inputs {
        padding-left: 20px;
    }
    .navbar-fixed .brand-logo {
        margin-left: 60px;
    }
    .navbar-fixed .button-collapse {
        display: inherit;
    }
}